* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
}

#chipContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  min-width: 50px;
  padding-left: 10px;
}

#search {
  font-family: inherit;
  font-size: 1rem;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  flex-grow: 1;
  min-width: 150px;
  max-width: 30rem;
  border-radius: 30px;
}

#search:hover {
  box-shadow: 0 0 1rem #00000013;
}

#search:focus {
  outline: none;
  background-color: #f0eeee;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 -6px 1rem -6px #00000013;
}

#search::-webkit-input-placeholder {
  font-weight: 100;
  columns: #ccc;
}

.filter-container {
  display: flex;
  justify-self: center;
  width: 30rem;
  background-color: #f0eeee;
  box-sizing: content-box;
  border-radius: 0 0 15px 15px;
  box-shadow: 6px 0 1rem -6px #00000013, -6px 0 1rem -6px #00000013,
    0 6px 1rem -6px #00000013;
}

.filter-container .filters {
  display: list-item;
  list-style: none;
}

.filter-container .filters li {
  list-style: none;
  border-radius: 3px;
  padding: 8px 25px;
  transition: all 0.5s linear;
  color: #4b4b4b;
  cursor: pointer;
}

.fruit-container {
  display: grid;
  padding-top: 3rem;
  margin-left: 0;
  margin-right: 0;
  justify-content: center;
  align-items: center;
}

.fruits {
  margin-left: 2rem;
  margin-right: 2rem;
  width: 1000px;
  justify-content: center;
  align-items: center;
}

.card {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  height: 100px;
  list-style: none;
  text-align: center;
  align-content: center;
  border-radius: 10px;
  background: #ebb0e298;
  border: 1px solid #9f799a98;
  margin: 1rem;
  font-size: larger;
  font-weight: bold;
  color: #482f45;
}

.chip {
  display: inline-flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 14px;
  padding: 2px 8px;
  margin: 2px;
  gap: 5px;
  font-size: .9em;
  white-space: nowrap;
}

.draft{
  background: #ccc;
  color: #555;
}

.chip:not(.draft) {
  background: #d6c1e4;
  color: #482f45;
}

.chip-close {
  cursor: pointer;
  margin-left: 5px;
  font-weight: bold;
  color: red;
  background: none;
  border: none;
  font-size: 1em;
}
